In [4]:
import pandas as pd

df = pd.read_csv('../data/processed/preprocessed_data.csv')
df_simple = pd.read_csv('../data/processed/preprocessed_data_no_one_hot_encoding.csv')

In [5]:
df_simple.head()

,Unnamed: 0,movieId,title,genres,userId,rating,tags
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,791.0,4.5,Owned|Pixar|time travel|children|comedy|funny|...
1,1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1361.0,2.5,Owned|Pixar|time travel|children|comedy|funny|...
2,2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3164.0,5.0,Owned|Pixar|time travel|children|comedy|funny|...
3,3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3164.0,5.0,Owned|Pixar|time travel|children|comedy|funny|...
4,4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3448.0,3.0,Owned|Pixar|time travel|children|comedy|funny|...